.undoable-counter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40rem;
    width: 100%;
}

.undo-redo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.change-count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.history-info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}
